body {
  background: FFFFFF;
  font-size: 16px;
  line-height: 1.7;
  font-family: serif;
  max-width: 400px;
  margin: 0 auto;
  padding: 0 20px;
}

.poem {
  text-align: center;
}

.stanza {
  text-align: left;
  display: -ms-flexbox;
  display: flex;
}

.page-title {
  font-size: 48px;
  font-weight: bold;
}

.page-subtitle {
  font-style: italic;
  color: #c7c7c7;
}

footer {
  margin-top: 48px;
}
